.formChildren {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  &__formChildren {
    padding: 0.5em;
    &__title {
      color: black;
      font-weight: bold;
      font-size: 2em;
    }
    &__form {
      display: flex;
      flex-direction: column;
      background-color: rgba(45,139,222, .6);
      padding: 20px;
      width: 70%;
      flex-wrap: wrap;
      margin: auto;
      border-radius: 5px;
      &__input {
        border-radius: 5px;
        border: none;
        padding: 0.5em;
        min-width: 20rem;
        &::placeholder{
          text-align: center;
          color: #000;
        }
      }
      &__btn {
        margin: 2rem auto;
      }

      fieldset {
        margin: 0.5rem 0;
      }
    }
  }

  a {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem;
    margin-left: 2rem;
    display: block;
    align-self: flex-start;
  }
}
.Dropdown {
  .ui.dropdown {
    font-size: 1.5em;
    border-radius: 0.3em;
    padding: 0.5em;
    background-color: rgba(45,139,222, 0.6);
    &:hover{
      background-color: white;
    }
    
  }
  .ui.dropdown span {
    color: rgb(45,139,222);
    font-size: 18px;
    text-align: center;
  }
  
  .menu.transition.visible > a > div {
    padding-top: 0.8em;
    color: rgb(45,139,222);
    font-size: 18px;
    text-align: center;
  }
}


