.footer {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  font-weight: bold;
  background: rgba(170, 229, 200, 0.8);;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  & a{
    color: rgb(58,102,177);
    font-size: 1.4rem;
    &:hover{
      color: white;
    }
  }
}

@media (max-width: 770px) {
    .footer {
      // font-size: 0.9em;
      color: rgb(58,102,177);
      font-weight: bold;
      flex-direction: column;
      align-items: center;
      margin-top: 15rem;
    }
  }
