.boardParent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
    & .ui.compact.menu {
      & .item {
        color:rgb(45,139,222);
      }
    }
  
  &__boardParent {
    padding: 0.5em;
    &__title {
      color: rgb(45,139,222);
      font-weight: bold;
      font-size: 2em;
      text-align: center;
      border-bottom: 1px solid rgba(255,161,74, 0.7);
    }
    &__board {
      &__add {
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &__img {
          cursor: pointer;
        }
        &__subtitle {
          font-size: 15px;
          color: rgb(45,139,222);
          h2 {
            font-size: 17px;
          }
        }
      }
      &__childrenList {
        margin: 15px;
      }
      &__childrenList__child {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5em;
        border-radius: 50px;
        background-color: rgba(45,139,222, .2);
        margin: 10px;
        cursor: pointer;
        &__img {
          width: 50px;
          height: 50px;
          margin: auto 5px;
        }
      }
    } 
  }
}
p {
  font-size: 20px;
}
