.contact {
      padding: 5em 5em 20em 5em;
      display: flex;
      flex-direction: column;
      align-items: center;
  & h1{
    text-align: center;
    text-decoration: underline;
  }
  &__form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      width: 350px;
      border-radius: 0.5em;
  }
}
form.ui.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em
}
div.equal.width.fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
#root > div > main > form > div.equal.width.fields > div > label{
  color: black;
}

div.field{
  width: 335px;
  text-align: center;
}
#root > div > main > form > div:nth-child(2) > label{
  color: black;
}

button.ui.button{
        background-color: rgb(45,139,222);
        border-radius: 5px;
        border: none;
        color: white;
        width: 100px;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: rgb(45,139,222);
        }
}
  
  
  