.parentProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
    &__info {
      width: 17em;
      margin: 0.5em;
      display: flex;
      flex-direction: column;
      background-color: rgba(45,139,222, .6);
      border: 0.2em solid rgba(45,139,222, .6);
      padding: 1em;
      border-radius: 0.5em;
      font-size: 1.4em;
      &:hover{
        border: 0.2em solid white;
      }
      & strong {
        font-style: italic;
      }
      & p {
        display: flex;
        justify-content: space-between;
      }
      & label {
        display: flex;
        justify-content: flex-end;
        & img {
          border: 0.1em solid white; 
          padding: 0.2em;
          &:hover {
            border: 0.1em solid rgba(255,161,74, 0.8); 
            background-color: white;
          }
        }
      }
    }
    &__addChild {
      &__add {
        width: 15em;
        border-radius: 1.5em;
        margin: auto;
        background-color: rgba(45,139,222, .6);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.2em solid white;
        &__img {
          cursor: pointer;
          // border: 0.2em solid white; 
          border-radius: 50%;
          padding: 0.2em;
        }
        &__subtitle {
          font-size: 15px;
          color: black;          
          h2 {
            font-size: 17px;
          }
        }
        &:hover{
          color: rgba(45,139,222, .6);
          background-color: white;
          border: 0.2em solid rgba(255,161,74, 0.8);
        }
      }
  }
}
.childrenProfil__info{
  display: flex;
  // justify-content: space-between;
}
.ui.dropdown {
  font-size: 1.5em;
  border-radius: 0.3em;
  padding: 0.5em;
  background-color: rgba(45,139,222, 0.6);
  &:hover{
    background-color: white;
  }
  
}
.ui.dropdown span {
  color: rgb(45,139,222);
  font-size: 18px;
  text-align: center;
}

.menu.transition.visible > a > div {
  padding-top: 0.8em;
  color: rgb(45,139,222);
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1150px) {
  .parentProfil{
    flex-direction: column;
  }
  .childrenProfil__info{
    display: flex;
    flex-direction: column;
  }
}