.ui.card.littleTeacherProfil {
  background-color: rgba(255, 189, 128, 0.8);
  border: 0.2em solid  rgba(255, 189, 128, 0.8);
  width: 23.5em;
  &:hover {
    border: 0.2em solid white;
  }
}

.ui.card>.image{
  margin: auto;
}

.ui.card.littleTeacherProfil > div.content.littleTeacherProfil__title > div.header {
  border-radius: 1em;
  text-align: center;
}

.ui.card.littleTeacherProfil > div.content.littleTeacherProfil__hobbies {
  display: flex;
  align-items: baseline;
}