.App {
  // background-image: url('../../assets//background-opa.webp');
  background-color: gray;
  background-position: center;
  background-size: cover;
  // z-index: -5;

  button.ui.button,
  button {
    background-color: rgba(255, 161, 74, 0.8);
    border-radius: 5px;
    border: none;
    min-width: 20rem;
    padding: 1rem;
    cursor: pointer;
    align-self: start;
    font-size: 1.2rem;
    color: black;
    &:hover {
      background-color: #fff;      
    }
  }

a{
  color: white;
  font-size: 1.2rem;
}

input {
  border-radius: 5px;
  border: none;
  padding: 0.8em;
  min-width: 20rem;
    &::placeholder{
        color: #000;
    }
}
}
