.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      color: black;
      font-weight: bold;
      font-size: 2em;
      padding: 1em;
      text-align: center;
    }
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(45,139,222, .6);
      padding: 2rem;
      width: 35rem;
      border-radius: 0.5rem;

      label {
        margin: 1rem auto;
      }
      button {
        align-self: center;
        margin-top: 3rem;
      }
    }
  }
}